<h3>Products (total: {{ productsCount$ | async }})</h3>

<a routerLink="../product/add">Add product</a>

<p *ngIf="(productsError$ | async) as value">{{value.message || value}}</p>

<table>
  <thead>
  <tr>
    <th>#</th>
    <th>Name</th>
    <th>Action</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let product of products$ | async; let i = index">
    <td>{{ i + 1 }}</td>
    <td>{{ product.name }}</td>
    <td>
      <a [routerLink]="['../product/edit', product.id]">Edit</a>
    </td>
  </tr>
  </tbody>
</table>
