<header>
  <nav>
    <a routerLink="/">
      <h1 #appTitle></h1>
    </a>

    <ul>
      <li>
        <a routerLink="/products-list" routerLinkActive="active">Products</a>
      </li>
      <li>
        <a routerLink="/login" routerLinkActive="active">Login</a>
      </li>
      <li>
        <a routerLink="/cart" routerLinkActive="active">Cart</a>
      </li>
      <li>
        <a routerLink="/admin" routerLinkActive="active">Admin</a>
      </li>
    </ul>
  </nav>
</header>

<div class="container">

  <app-process-order></app-process-order>
  <!--  <router-outlet></router-outlet>-->
  <app-about></app-about>
</div>
