h3 {
  text-align: center;
}

.meta {
  display: flex;
  justify-content: space-evenly;
}

ul > li {
  margin-top: 10px;
}

select {
  cursor: pointer;
  margin: 0 5px;
}

.sorting {
  text-align: center;
}

.actions {
  display: flex;
  justify-content: space-around;
}
