<div class="product" [ngClass]="{'not-available': !product.isAvailable}" appColorize appSelect="red">
  <p>Category: {{ product.category }}</p>
  <p>Name: {{ product.name }}</p>
  <p>Description: {{ product.description }}</p>
  <p>Price: {{ product.price }}$</p>

  <p>Availability: {{ product.isAvailable ? 'not' : '' }} available</p>

  <p>Tags:
    <span *ngFor="let tag of product.tags" class="tag">
    {{ tag }}
    </span>
  </p>

  <button [disabled]="!product.isAvailable" (click)="onBuyProduct(product)" class="buy-btn">Buy</button>
</div>
