<div class="product" [ngClass]="{'not-available': !product.isAvailable}" appColorize appSelect="red">
  <p>Category: {{ product.category | uppercase}}</p>
  <p>Name: {{ product.name }}</p>
  <p>Description: {{ product.description }}</p>
  <p>Price: {{ product.price | currency:'USD' :'symbol':'1.2-2':'ru' }}</p>

  <p>Availability: {{ product.isAvailable ? 'not' : '' }} available</p>

  <p>Tags:
    <span *ngFor="let tag of product.tags" class="tag">
    {{ tag }}
    </span>
  </p>

  <div class="buy-controls">
    <label for="quantity">Quantity</label>
    <input id="quantity" type="number" [value]="quantity" (change)="onQuantityChange($event)">
    <button [disabled]="!product.isAvailable" (click)="onBuyProduct(product, quantity)" class="buy-btn">Buy</button>
  </div>

  <p class="details">
    <i>Updated: {{ product.updated | date:'dd.MM.yyyy' }}</i>
    <a href="" (click)="onGoDetailsClick($event, product)">Details</a>
  </p>
</div>
