<h3>Orders</h3>

<div *ngFor="let order of (ordersState$ | async).data; let i = index">
  <table>
    <thead>
    <tr>
      <th>#</th>
      <th>Name</th>
      <th>Price</th>
      <th>Quantity</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let product of order.products; let j = index">
      <td>{{ j + 1 }}</td>
      <td>{{ product.name }}</td>
      <td>{{ product.price }}</td>
      <td>{{ product.quantity }}</td>
    </tr>
    </tbody>
  </table>

  <p>Total sum: {{ order.sum }}</p>
  <p>Total quantity: {{ order.quantity }}</p>
</div>
