<h3>Orders</h3>

<p *ngIf="(ordersError$ | async) as value">{{value.message || value}}</p>

<div *ngFor="let order of orders$ | async; let i = index">
  <table>
    <thead>
    <tr>
      <th>#</th>
      <th>Name</th>
      <th>Price</th>
      <th>Quantity</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let product of order.products; let j = index">
      <td>{{ j + 1 }}</td>
      <td>{{ product.name }}</td>
      <td>{{ product.price }}</td>
      <td>{{ product.quantity }}</td>
    </tr>
    </tbody>
  </table>

  <p>Total sum: {{ order.sum }}</p>
  <p>Total quantity: {{ order.quantity }}</p>
  <p>Customer: {{order.formData.firstName}} {{order.formData.lastName}} ({{order.formData.email}})</p>
</div>
